.leadersOfAym-img{
    display: flex;
    height: 400px;
    width: 300px;
    margin-top: 50px;
    margin-left: 300px;
}
.leadersOfAym-img2{
    display: flex;
    height: 400px;
    width: 400px;
    margin-top: 50px;
    margin-left: 1px;
}
.leadersOfAym-img-text{
    display: flex;
    width: 300px;
    margin-top: 10px;
    margin-left: 300px;
    font-family: adobe-garamond-pro;
    color: darkgrey;


}

.leadersOfAym-img-text2{
    display: flex;
    width: 400px;
    margin-top: 10px;
    margin-left: 1px;
    font-family: adobe-garamond-pro;
    color: darkgrey;

}